<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>
<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png
">
<h2>Welcome to <span th:text="${userDetails.username}"></span> 's profile</h2>
<h2>Welcome to <span th:text="${userDetails.firstname}"></span> 's profile</h2>
<h2>Welcome to <span th:text="${userDetails.lastname}"></span> 's profile</h2>
<h2>Welcome to <span th:text="${userDetails.bio}"></span> 's profile</h2>
<!--<h2>profile picture <span th:text="${userDetails.imageUrl}"></span> 's profile</h2>-->

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>