<!DOCTYPE html>
<html lang="en" xmlns:th="http://www,thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Application User</title>
</head>
<body>

<h1>Application User - <span th:text="${user.username}"></span></h1>

<p>First Name: <span th:text="${user.firstname}"></span></p>
<p>Last Name: <span th:text="${user.lastname}"></span></p>
<p>Date of Birth: <span th:text="${user.dateOfBirth}"></span></p>
<p>Bio: <span th:text="${user.bio}"></span></p>

<!--<div th:each="posts:${userDetails.posts}" class="posts">-->
<!--    <div class="card" style="width: 18rem;">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title">Post</h5>-->
<!--            <p th:text="${posts.body}" class="card-text"></p>-->
<!--            <h6 th:text="${posts.createAt}" class="card-subtitle mb-2 text-muted"></h6>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>